.card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0.825rem;
  max-width: 600px;
  /* max-height: 680px; */
  justify-content: center;
  max-height: 400px;
  width: 100%;
  cursor: pointer;
  transition: var(--transition);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:nth-child(even) {
  margin-top: 50%;
}

.card__image__container {
  position: relative;
  width: 800px;
  width: 100%;
  max-height: 550px;
  overflow: hidden;
  border-radius: 10px;
}

.card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.card__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.card__title {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  font-weight: 500;
}

.card__description {
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .card {
    padding: 2rem 0;
  }

  .card:nth-child(even) {
    margin-top: 0;
  }
}
