.cardView {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-items: center;
  padding: 2rem 0;
  z-index: 110;
  margin-bottom: 150px;
  transition: var(--transition);
}

/* CardView Horizontal */
/* 
.cardView {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 110;
  height: 100vh;
  overflow-x: scroll;
  transition: var(--transition);
} */

@media screen and (max-width: 768px) {
  .cardView {
    grid-template-columns: 1fr;
    margin: 2rem 0;
  }
}
