.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  z-index: 100;
  padding: 0 2rem;
  animation: var(--animation);
}

.navbar__links__container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 500px;
  transition: var(--transition);
}

.navbar__links__container__responsive {
  display: none;
  /* justify-content: space-between; */
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 500px;
  transition: var(--animation--fast);
}

.navbar__link {
  background-color: hsla(0, 0%, 100%, 0.1);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: var(--transition);
}

.navbar__link__responsive {
  background-color: hsla(0, 0%, 100%, 0.1);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: var(--transition);
}

.menu__responsive {
  background-color: hsla(0, 0%, 100%, 1);
  backdrop-filter: blur(16px);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  color: black;
  width: 80px;
  text-align: center;
  z-index: 1140;
  transition: all 500ms ease-out;
}

.project {
  display: block;
  position: relative;
  z-index: 1130;
  transform: translate3d(-80px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  width: 80px;
  transition: all 500ms ease-out;
  backdrop-filter: blur(16px);
}

.about {
  display: block;
  position: relative;
  z-index: 1120;
  transform: translate3d(-160px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  width: 80px;
  transition: all 500ms ease-out;
  backdrop-filter: blur(16px);
}

.open {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  width: initial;
}

.open:hover {
  background-color: white;
  color: #000;
}

.navbar__link:hover {
  background-color: white;
  color: #000;
}

.navbar__link__text {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  animation: var(--animation);
}

.close {
  width: 42px;
  animation: var(--animation--fast);
}

.menu {
  animation: var(--animation--fast);
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding: 0 1.25rem;
  }

  .navbar__links__container__responsive {
    display: flex;
  }

  .navbar__links__container {
    display: none;
  }
}
